<h2>Category</h2>

<p>
  <b>Title:</b> {{ title }}
</p>

{{#linkTo "categories"}}â†All Categories{{/linkTo}}
{{#linkTo "edit_category" model}}Edit{{/linkTo}}
<a href="#" {{action "destroy"}}>Destroy</a>
