<h2>Transactions</h2>

{{#linkTo "new_transaction"}}New Transaction{{/linkTo}}

<table>
  <thead>
    <th>description</th>
    <th>amount</th>
    <th>category</th>
  </thead>
  <tbody>
    {{#each transaction in controller}}
    <tr>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.category }}</td>
      <td>{{#linkTo "transaction" transaction }}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


